jupyterlab
ipywidgets

langchain==0.2.16
langchain-core==0.2.38
langchain-community==0.2.16
langchain-text-splitters==0.2.4

transformers==4.44.2
sentencepiece
accelerate

ollama==0.3.3

pypdf==4.3.1

pymupdf

tiktoken==0.7.0

rich

ipykernel